body {
    .fuye_pc {
        display: none;
    }
    .fuye_ipad {
        display: block;
    }
    .daiZhi_nav {
        .container-fluid {
            background-color: #f4f4f4;
            color: #999481;
            .navbar-header {
                button {
                    display: block;
                }
            }
            .collapse {
                padding-left: 0;
                &.navbar {
                    margin-bottom: 0;
                }
                .navbar-nav {
                    padding-left: 0;
                    >li {
                        padding: 0px 5px;
                        >a {
                            font-size: 18px;
                            line-height: 50px;
                        }
                    }
                    >li:first-of-type {
                        padding-left: 0;
                        a {
                            padding-left: 0;
                        }
                    }
                    >li[class="last"] {
                        padding-left: 0;
                        padding-right: 0;
                        a {
                            padding-left: 0;
                            padding-right: 0;
                        }
                    }
                }
                .navbar-toggle {
                    margin-top: 23px;
                }
            }
        }
    }
    .daiZhi_first {
        .container {
            .row {
                .pad {
                    width: 100%;
                    text-align: center;
                    .inc {
                        color: #262626;
                        p {
                            font-size: 36px;
                            text-align: center;
                        }
                        .p2 {
                            font-size: 22px;
                        }
                    }
                }
                .rightbox {
                    div {
                        .mobileImg {
                            width: 100%;
                        }
                        .mobileImg>img {
                            width: 100%;
                            display: block;
                        }
                        .pcImg {
                            width: 100%;
                            height: 540px;
                            display: block;
                            background-position: center center;
                            background-size: cover;
                        }
                    }
                }
            }
            .introduce {
                position: relative;
                h3 {
                    margin: 0px;
                    font-size: 32px;
                    line-height: 64px;
                }
                p {
                    width: 500px;
                    font-size: 14px;
                    line-height: 24px;
                }
                button {
                    position: absolute;
                    width: 120px;
                    height: 48px;
                    right: 0;
                    top: 60px;
                    color: #b0ad9f;
                    font-size: 22px;
                }
            }
        }
    }
    .daiZhi_second {
        margin-top: 25px;
        .container {
            .row {
                .pad {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 20px;
                    .inc {
                        color: #262626;
                        p {
                            font-size: 24px;
                            text-align: center;
                        }
                        .p2 {
                            font-size: 22px;
                        }
                    }
                }
                .rightbox {
                    div {
                        .mobileImg {
                            width: 100%;
                        }
                        .mobileImg>img {
                            width: 100%;
                            display: block;
                        }
                        .pcImg {
                            width: 100%;
                            height: 540px;
                            display: block;
                            background-position: center center;
                            background-size: cover;
                        }
                    }
                }
            }
        }
    }
    .other {
        .container {
            padding: 0;
            .row {
                .topLeft,
                .topMid,
                .topRight,
                {
                    padding-bottom: 16px;
                    padding-top: 5px;
                    border-bottom: 1px solid #262626;
                    a {
                        display: block;
                        height: 192px;
                        .kuang {
                            float: left;
                            width: 320px;
                            height: 192px;
                            background: url('../Image/黛芷家居/Home Decor/WYM_7395.jpg') no-repeat 0px 0px;
                            background-size: cover;
                            border: 1px solid #8c8c8c;
                            box-sizing: border-box;
                        }
                        h3 {
                            padding-top: 70px;
                            margin-left: 320px;
                            padding-left: 34px;
                            font-size: 24px;
                            color: #292929;
                        }
                        p {
                            margin-left: 320px;
                            padding-left: 34px;
                            font-size: 16px;
                            line-height: 26px;
                        }
                    }
                }
                .topMid {
                    a {
                        .kuang {
                            background: url('../Image/黛芷家居/Home Decor/WYM_7375.jpg') no-repeat 0px 0px;
                            background-size: cover;
                        }
                    }
                }
                .topRight {
                    border-bottom: none;
                    margin-bottom: 60px;
                    a {
                        .kuang {
                            background: url('../Image/黛芷家居/Home Decor/WYM_7325.jpg') no-repeat 0px 0px;
                            background-size: cover;
                        }
                    }
                }
            }
        }
    }
    footer {
        background-color: #f4f4f4;
        padding-top: 38px;
        .container {
            .row {
                padding-bottom: 100px;
                .footLeft,
                .footMid,
                .footRight {
                    padding-left: 0;
                    padding-right: 28px;
                    p {
                        font-size: 16px;
                        line-height: 28px;
                        color: #999481;
                    }
                }
                .footLeft {}
                .footMid {}
                .footRight {}
            }
        }
    }
}