* {
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  min-width: 1312px;
}
body .fuye_ipad,
body .fuye_iphone {
  display: none;
}
.clearfix {
  content: "";
  display: block;
  clear: both;
}
.fuye_pc .header {
  width: 100%;
  height: 80px;
  background: #f4f4f4;
}
.fuye_pc .header .content {
  width: 91.11111111%;
  height: 80px;
  margin: 0 auto;
  position: relative;
}
.fuye_pc .header .content .nav {
  float: left;
}
.fuye_pc .header .content .nav ul li {
  float: left;
  font-size: 20px;
  margin-left: 24px;
  line-height: 80px;
}
.fuye_pc .header .content .nav ul li a {
  color: #999481;
  text-decoration: none;
  animation: 0.3s ease-in;
}
.fuye_pc .header .content .nav ul li a:hover {
  background: #999481;
  color: #fff;
  animation: 0.3s ease-in;
}
.fuye_pc .header .content .nav ul li.index {
  margin-left: 0;
}
.fuye_pc .header .content .language {
  float: right;
}
.fuye_pc .header .content .language .ic_language_black_48 {
  width: 40px;
  height: 40px;
  color: #999481;
  position: absolute;
  top: 20px;
  right: 0;
}
.fuye_pc .section {
  width: 91.11111111%;
  margin: 0 auto;
}
.fuye_pc .logo {
  width: 250px;
  height: auto;
  margin: 0 auto;
  margin-top: -28px;
}
.fuye_pc .logo .pc-logo {
  width: 250px;
}
.fuye_pc .navbar {
  width: 100%;
  height: auto;
  margin-top: -32px;
  text-align: center;
}
.fuye_pc .navbar ul {
  width: 670px;
  height: 24px;
  line-height: 24px;
  margin: 0 auto;
}
.fuye_pc .navbar ul li {
  float: left;
  margin-left: 24px;
}
.fuye_pc .navbar ul li a {
  text-decoration: none;
  color: #262626;
  font-size: 18px;
  font-weight: 100;
}
.fuye_pc .navbar ul .first {
  margin-left: 0;
}
.fuye_pc .navbar ul .first a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}
.fuye_pc .carousel {
  width: 100%;
  margin: 0 auto;
  margin-top: -26px;
  overflow: hidden;
}
.fuye_pc .carousel .imglist {
  width: 100%;
  animation: 0.3s ease-in;
}
.fuye_pc .carousel .imglist li {
  width: 100%;
  animation: 0.3s ease-in;
}
.fuye_pc .carousel .imglist li img {
  display: block;
  width: 100%;
  height: 720px;
}
.fuye_pc .carousel .swiper-pagination-bullet {
  background: #fff;
  opacity: 0.55;
  filter: alpha(opacity=55);
}
.fuye_pc .carousel .swiper-pagination-bullet-active {
  background: #fff;
  opacity: 1;
}
.fuye_pc .carousel .swiper-pagination {
  position: absolute;
  text-align: center;
  bottom: 10px;
  animation: 0.3s ease-in;
}
.fuye_pc .dardree-home {
  width: 100%;
  height: 528px;
  margin: 0 auto;
  margin-top: 38px;
}
.fuye_pc .dardree-home .fragrant {
  width: 30.48780488%;
  float: left;
}
.fuye_pc .dardree-home .fragrant .top {
  width: 100%;
  height: 240px;
  box-sizing: border-box;
  border: 1px solid #999481;
  position: relative;
}
.fuye_pc .dardree-home .fragrant .top p {
  width: 100%;
  text-align: center;
  font-size: 25px;
  position: absolute;
  top: 48px;
  left: 0;
  font-weight: 100;
  color: #000;
}
.fuye_pc .dardree-home .fragrant .top i {
  display: block;
  width: 32px;
  height: 1px;
  background: #8c8c8c;
  margin: 0 auto;
  margin-top: 96px;
}
.fuye_pc .dardree-home .fragrant .top span {
  width: 100%;
  text-align: center;
  font-size: 24px;
  position: absolute;
  font-weight: 400;
  top: 110px;
  left: 0;
}
.fuye_pc .dardree-home .fragrant .top .see {
  width: 80px;
  height: 32px;
  border: 1px solid #999481;
  border-radius: 2px;
  text-align: center;
  color: #999481;
  line-height: 32px;
  font-size: 16px;
  margin: 0 auto;
  margin-top: 60px;
  cursor: pointer;
  letter-spacing: 4px;
  animation: 0.3s ease-in;
}
.fuye_pc .dardree-home .fragrant .top .see:hover {
  background: #999481;
  color: #fff;
  border: 0;
  animation: 0.3s ease-in;
}
.fuye_pc .dardree-home .fragrant .bottom {
  width: 100%;
  margin-top: 48px;
  height: 240px;
  background: #f7f7f7;
  position: relative;
}
.fuye_pc .dardree-home .fragrant .bottom img {
  height: 240px;
  position: absolute;
  top: 0%;
  left: 12.5%;
}
.fuye_pc .dardree-home .flowers {
  float: left;
  width: 30.48780488%;
  height: 528px;
  margin-left: 56px;
  position: relative;
  background: #f7f7f7;
}
.fuye_pc .dardree-home .flowers img {
  width: 328px;
  height: 357px;
  position: absolute;
  top: 16.2%;
  left: 9%;
}
.fuye_pc .dardree-home .dinner-candle {
  float: right;
  width: 30.48780488%;
  height: 528px;
  background: #f7f7f7;
  position: relative;
}
.fuye_pc .dardree-home .dinner-candle img {
  width: 335px;
  height: 251px;
  position: absolute;
  top: 26.23%;
  left: 8.125%;
}
.fuye_pc .garden {
  width: 100%;
  height: 528px;
  margin: 0 auto;
  margin-top: 48px;
}
.fuye_pc .garden .fragrant {
  width: 30.48780488%;
  float: left;
}
.fuye_pc .garden .fragrant .top {
  width: 100%;
  height: 240px;
  box-sizing: border-box;
  border: 1px solid #999481;
  position: relative;
}
.fuye_pc .garden .fragrant .top p {
  width: 100%;
  text-align: center;
  font-size: 25px;
  position: absolute;
  top: 48px;
  left: 0;
  font-weight: 100;
  color: #000;
}
.fuye_pc .garden .fragrant .top i {
  display: block;
  width: 32px;
  height: 1px;
  background: #8c8c8c;
  margin: 0 auto;
  margin-top: 96px;
}
.fuye_pc .garden .fragrant .top span {
  width: 100%;
  text-align: center;
  font-size: 24px;
  position: absolute;
  font-weight: 400;
  top: 110px;
  left: 0;
}
.fuye_pc .garden .fragrant .top .see {
  width: 80px;
  height: 32px;
  border: 1px solid #999481;
  border-radius: 2px;
  text-align: center;
  color: #999481;
  line-height: 32px;
  font-size: 16px;
  margin: 0 auto;
  margin-top: 60px;
  cursor: pointer;
  letter-spacing: 4px;
}
.fuye_pc .garden .fragrant .top .see:hover {
  background: #999481;
  color: #fff;
  border: 0;
  animation: 0.3s ease-in;
}
.fuye_pc .garden .fragrant .bottom {
  margin-top: 48px;
  width: 100%;
  height: 240px;
}
.fuye_pc .garden .fragrant .bottom img {
  width: 100%;
  height: 240px;
}
.fuye_pc .garden .flowers {
  float: left;
  width: 30.48780488%;
  margin-left: 56px;
}
.fuye_pc .garden .flowers img {
  width: 100%;
  height: 528px;
}
.fuye_pc .garden .flowers p {
  font-size: 2.4rem;
  line-height: 7rem;
}
.fuye_pc .garden .dinner-candle {
  float: right;
  width: 30.48780488%;
}
.fuye_pc .garden .dinner-candle img {
  width: 100%;
  height: 528px;
}
.fuye_pc .tea-room {
  width: 100%;
  height: 528px;
  margin: 0 auto;
  margin-top: 48px;
}
.fuye_pc .tea-room .fragrant {
  float: left;
  width: 30.48780488%;
}
.fuye_pc .tea-room .fragrant .top {
  width: 100%;
  height: 240px;
  box-sizing: border-box;
  border: 1px solid #999481;
  position: relative;
}
.fuye_pc .tea-room .fragrant .top p {
  width: 100%;
  text-align: center;
  font-size: 25px;
  position: absolute;
  top: 48px;
  left: 0;
  font-weight: 100;
  color: #000;
}
.fuye_pc .tea-room .fragrant .top i {
  display: block;
  width: 32px;
  height: 1px;
  background: #8c8c8c;
  margin: 0 auto;
  margin-top: 96px;
}
.fuye_pc .tea-room .fragrant .top span {
  width: 100%;
  text-align: center;
  font-size: 24px;
  position: absolute;
  font-weight: 400;
  top: 110px;
  left: 0;
}
.fuye_pc .tea-room .fragrant .top .see {
  width: 80px;
  height: 32px;
  border: 1px solid #999481;
  border-radius: 2px;
  text-align: center;
  color: #999481;
  line-height: 32px;
  font-size: 16px;
  margin: 0 auto;
  margin-top: 60px;
  cursor: pointer;
  letter-spacing: 4px;
}
.fuye_pc .tea-room .fragrant .top .see:hover {
  background: #999481;
  color: #fff;
  border: 0;
  animation: 0.3s ease-in;
}
.fuye_pc .tea-room .fragrant .bottom {
  margin-top: 48px;
  width: 100%;
}
.fuye_pc .tea-room .fragrant .bottom img {
  width: 100%;
  height: 240px;
}
.fuye_pc .tea-room .flowers {
  float: left;
  width: 30.48780488%;
  margin-left: 56px;
}
.fuye_pc .tea-room .flowers img {
  width: 100%;
  height: 528px;
}
.fuye_pc .tea-room .dinner-candle {
  float: right;
  width: 30.48780488%;
}
.fuye_pc .tea-room .dinner-candle img {
  width: 100%;
  height: 528px;
}
.fuye_pc .tableware {
  width: 100%;
  height: 240px;
  margin: 0 auto;
  margin-top: 48px;
  position: relative;
  padding-bottom: 288px;
  border-bottom: 1px solid #999481;
}
.fuye_pc .tableware .left {
  float: left;
  width: 30.48780488%;
  height: 240px;
  box-sizing: border-box;
  border: 1px solid #999481;
  position: relative;
}
.fuye_pc .tableware .left p {
  width: 100%;
  text-align: center;
  font-size: 25px;
  position: absolute;
  top: 48px;
  left: 0;
  font-weight: 100;
  color: #000;
}
.fuye_pc .tableware .left i {
  display: block;
  width: 32px;
  height: 1px;
  background: #8c8c8c;
  margin: 0 auto;
  margin-top: 96px;
}
.fuye_pc .tableware .left span {
  width: 100%;
  text-align: center;
  font-size: 24px;
  position: absolute;
  font-weight: 400;
  top: 110px;
  left: 0;
}
.fuye_pc .tableware .left .see {
  width: 80px;
  height: 32px;
  border: 1px solid #999481;
  border-radius: 2px;
  text-align: center;
  color: #999481;
  line-height: 32px;
  font-size: 16px;
  margin: 0 auto;
  margin-top: 60px;
  cursor: pointer;
  letter-spacing: 4px;
}
.fuye_pc .tableware .left .see:hover {
  background: #999481;
  color: #fff;
  border: 0;
  animation: 0.3s ease-in;
}
.fuye_pc .tableware .middle {
  width: 30.48780488%;
  height: 240px;
  float: left;
  margin-left: 56px;
}
.fuye_pc .tableware .middle img {
  width: 100%;
  height: 240px;
}
.fuye_pc .tableware .right {
  width: 30.48780488%;
  height: 240px;
  float: right;
}
.fuye_pc .tableware .right img {
  width: 100%;
  height: 240px;
  float: right;
}
.fuye_pc .description {
  width: 100%;
  height: 370px;
  margin: 0 auto;
  margin-top: 32px;
}
.fuye_pc .description .left {
  width: 30.48780488%;
  float: left;
}
.fuye_pc .description .left h3 {
  font-size: 24px;
  color: #292929;
  font-weight: 400;
  line-height: 16px;
}
.fuye_pc .description .left img {
  width: 100%;
  height: 240px;
}
.fuye_pc .description .left p {
  display: block;
  width: 96.5%;
  text-align: left;
  font-size: 16px;
  color: #595959;
  line-height: 28px;
}
.fuye_pc .description .middle {
  width: 30.48780488%;
  float: left;
  margin-left: 4.66666667%;
}
.fuye_pc .description .middle h3 {
  font-size: 24px;
  color: #292929;
  font-weight: 400;
  line-height: 16px;
}
.fuye_pc .description .middle img {
  width: 100%;
  height: 240px;
}
.fuye_pc .description .middle p {
  display: block;
  width: 96.5%;
  text-align: left;
  font-size: 16px;
  color: #595959;
  line-height: 28px;
}
.fuye_pc .description .right {
  float: right;
  width: 30.48780488%;
}
.fuye_pc .description .right h3 {
  font-size: 24px;
  color: #292929;
  font-weight: 400;
  line-height: 16px;
}
.fuye_pc .description .right img {
  width: 100%;
  height: 240px;
}
.fuye_pc .description .right p {
  display: block;
  width: 96.5%;
  text-align: left;
  font-size: 16px;
  color: #666;
  line-height: 28px;
}
.fuye_pc .foot {
  width: 100%;
  height: 279px;
  background: #f7f7f7;
  margin-top: 48px;
  color: #999481;
  font-size: 16px;
}
.fuye_pc .foot .footer {
  width: 91.11111111%;
  height: 279px;
  padding-top: 48px;
  margin: 0 auto;
  line-height: 22px;
}
.fuye_pc .foot .footer p {
  padding: 0;
  margin: 0;
}
.fuye_pc .foot .footer .address {
  width: 30.48780488%;
  float: left;
}
.fuye_pc .foot .footer .time {
  float: left;
  width: 30.48780488%;
  margin-left: 56px;
}
.fuye_pc .foot .footer .public-signal {
  float: left;
  margin-left: 56px;
  cursor: pointer;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
