body {
  min-width: 1200px;
}
body .daiZhi_nav {
  overflow: hidden;
}
body .daiZhi_nav .container-fluid {
  background-color: #f4f4f4;
  color: #999481;
}
body .daiZhi_nav .container-fluid .collapse {
  padding-left: 0;
}
body .daiZhi_nav .container-fluid .collapse.navbar {
  margin-bottom: 0;
}
body .daiZhi_nav .container-fluid .collapse .navbar-nav {
  padding-left: 0;
}
body .daiZhi_nav .container-fluid .collapse .navbar-nav > li {
  padding: 0px 5px;
}
body .daiZhi_nav .container-fluid .collapse .navbar-nav > li > a {
  font-size: 18px;
  line-height: 50px;
}
body .daiZhi_nav .container-fluid .collapse .navbar-nav > li:first-of-type {
  padding-left: 0;
}
body .daiZhi_nav .container-fluid .collapse .navbar-nav > li:first-of-type a {
  padding-left: 0;
}
body .daiZhi_nav .container-fluid .collapse .navbar-nav > li[class="last"] {
  padding-left: 0;
  padding-right: 0;
}
body .daiZhi_nav .container-fluid .collapse .navbar-nav > li[class="last"] a {
  padding-left: 0;
  padding-right: 0;
}
body .daiZhi_nav .container-fluid .collapse .navbar-toggle {
  margin-top: 23px;
}
body .daiZhi_nav .container-fluid .collapse .navbar-right embed {
  display: block;
  width: 40px;
  float: right;
  margin-top: 20px;
}
body .pc .logo {
  overflow: hidden;
  margin: 32px 0px;
}
body .pc .logo a {
  display: block;
  width: 250px;
  height: 76px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
body .pc .logo a embed {
  display: block;
  width: 250px;
  position: absolute;
  top: -60px;
  left: 0px;
}
body .pc .daiZhi_first {
  overflow: hidden;
}
body .pc .daiZhi_first .container .row .leftbox {
  height: 560px;
  padding: 0 28px 0 15px;
}
body .pc .daiZhi_first .container .row .leftbox .pad {
  height: 100%;
  background-color: #f4f4f4;
  position: relative;
}
body .pc .daiZhi_first .container .row .leftbox .pad .inc {
  height: 200px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: #262626;
}
body .pc .daiZhi_first .container .row .leftbox .pad .inc p {
  font-size: 64px;
  text-align: center;
}
body .pc .daiZhi_first .container .row .leftbox .pad .inc .p2 {
  font-size: 24px;
}
body .pc .daiZhi_first .container .row .rightbox {
  padding-left: 28px;
}
body .pc .daiZhi_first .container .row .rightbox div .mobileImg {
  width: 100%;
}
body .pc .daiZhi_first .container .row .rightbox div .mobileImg > img {
  width: 100%;
  display: block;
}
body .pc .daiZhi_first .container .row .rightbox div .pcImg {
  width: 100%;
  height: 560px;
  display: block;
  background-position: center center;
  background-size: cover;
}
body .pc .daiZhiJiaJu {
  overflow: hidden;
}
body .pc .daiZhiJiaJu .container .head {
  padding-left: 154px;
  padding-top: 50px;
  position: relative;
  height: 142px;
}
body .pc .daiZhiJiaJu .container .head .title {
  color: #262626;
  position: absolute;
  left: 0;
  top: 26px;
  font-size: 32px;
  margin-bottom: 0;
}
body .pc .daiZhiJiaJu .container .row .left {
  padding-right: 28px;
}
body .pc .daiZhiJiaJu .container .row .left div .mobileImg {
  width: 100%;
}
body .pc .daiZhiJiaJu .container .row .left div .mobileImg > img {
  width: 100%;
  display: block;
}
body .pc .daiZhiJiaJu .container .row .left div .pcImg {
  width: 100%;
  height: 560px;
  display: block;
  background-position: center center;
  background-size: cover;
}
body .pc .daiZhiJiaJu .container .row .right {
  padding-left: 28px;
}
body .pc .daiZhiJiaJu .container .row .right a {
  width: 100%;
  height: 560px;
  display: block;
  background-image: url("../Image/PC/主页/黛芷家居/WYM_7534.jpg");
  background-position: center center;
  background-size: cover;
}
body .pc .daiZhiJiaJu .container .introduce {
  margin-bottom: 60px;
  position: relative;
}
body .pc .daiZhiJiaJu .container .introduce h3 {
  margin: 0px;
  font-size: 32px;
  line-height: 64px;
}
body .pc .daiZhiJiaJu .container .introduce p {
  width: 800px;
  font-size: 16px;
  line-height: 24px;
}
body .pc .daiZhiJiaJu .container .introduce button {
  position: absolute;
  width: 120px;
  height: 48px;
  right: 0;
  top: 50px;
  color: #b0ad9f;
  font-size: 22px;
}
body .pc .daiZhi_flower {
  overflow: hidden;
  background-color: #f4f4f4;
}
body .pc .daiZhi_flower .container {
  padding: 0;
}
body .pc .daiZhi_flower .container .row {
  margin-top: 80px;
  height: 480px;
}
body .pc .daiZhi_flower .container .row .topLeft,
body .pc .daiZhi_flower .container .row .topRight,
body .pc .daiZhi_flower .container .row .downLeft,
body .pc .daiZhi_flower .container .row .downMid,
body .pc .daiZhi_flower .container .row .downRight {
  padding-left: 30px;
  padding-right: 30px;
}
body .pc .daiZhi_flower .container .row .topLeft a,
body .pc .daiZhi_flower .container .row .topRight a,
body .pc .daiZhi_flower .container .row .downLeft a,
body .pc .daiZhi_flower .container .row .downMid a,
body .pc .daiZhi_flower .container .row .downRight a {
  display: block;
  margin-bottom: 64px;
}
body .pc .daiZhi_flower .container .row .topLeft a .kuang,
body .pc .daiZhi_flower .container .row .topRight a .kuang,
body .pc .daiZhi_flower .container .row .downLeft a .kuang,
body .pc .daiZhi_flower .container .row .downMid a .kuang,
body .pc .daiZhi_flower .container .row .downRight a .kuang {
  height: 400px;
}
body .pc .daiZhi_flower .container .row .topLeft a .kuang .mobileImg,
body .pc .daiZhi_flower .container .row .topRight a .kuang .mobileImg,
body .pc .daiZhi_flower .container .row .downLeft a .kuang .mobileImg,
body .pc .daiZhi_flower .container .row .downMid a .kuang .mobileImg,
body .pc .daiZhi_flower .container .row .downRight a .kuang .mobileImg {
  width: 100%;
}
body .pc .daiZhi_flower .container .row .topLeft a .kuang .mobileImg > img,
body .pc .daiZhi_flower .container .row .topRight a .kuang .mobileImg > img,
body .pc .daiZhi_flower .container .row .downLeft a .kuang .mobileImg > img,
body .pc .daiZhi_flower .container .row .downMid a .kuang .mobileImg > img,
body .pc .daiZhi_flower .container .row .downRight a .kuang .mobileImg > img {
  width: 100%;
  display: block;
}
body .pc .daiZhi_flower .container .row .topLeft a .kuang .pcImg,
body .pc .daiZhi_flower .container .row .topRight a .kuang .pcImg,
body .pc .daiZhi_flower .container .row .downLeft a .kuang .pcImg,
body .pc .daiZhi_flower .container .row .downMid a .kuang .pcImg,
body .pc .daiZhi_flower .container .row .downRight a .kuang .pcImg {
  width: 100%;
  height: 400px;
  display: block;
  background-position: center center;
  background-size: cover;
  border: 1px solid #999481;
}
body .pc .daiZhi_flower .container .row .topLeft a h3,
body .pc .daiZhi_flower .container .row .topRight a h3,
body .pc .daiZhi_flower .container .row .downLeft a h3,
body .pc .daiZhi_flower .container .row .downMid a h3,
body .pc .daiZhi_flower .container .row .downRight a h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  line-height: 52px;
  color: #262626;
}
body .pc .daiZhi_flower .container .row .topLeft a p,
body .pc .daiZhi_flower .container .row .topRight a p,
body .pc .daiZhi_flower .container .row .downLeft a p,
body .pc .daiZhi_flower .container .row .downMid a p,
body .pc .daiZhi_flower .container .row .downRight a p {
  font-size: 24px;
  margin: 0px;
}
body .pc .daiZhi_flower .container .row .topMid {
  height: 100%;
}
body .pc .daiZhi_flower .container .row .topMid a {
  margin-bottom: 64px;
}
body .pc .daiZhi_flower .container .row .topMid a .kuang {
  border: 1px solid #999481;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
body .pc .daiZhi_flower .container .row .topMid a .kuang div {
  width: 280px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 80px;
  margin-left: -140px;
}
body .pc .daiZhi_flower .container .row .topMid a .kuang div p {
  font-size: 64px;
  text-align: center;
}
body .pc .daiZhi_flower .container .row .topMid a .kuang div .p2 {
  font-size: 32px;
}
body .pc .daiZhi_flower .container .row .topMid a .kuang div button {
  background-color: transparent;
  width: 120px;
  height: 48px;
  color: #b0ad9f;
  font-size: 22px;
  position: absolute;
  top: 230px;
  left: 50%;
  margin-left: -60px;
}
body .pc .daiZhi_flower .container .row .topRight a .kuang {
  background: url('../Image/黛芷花园/图片/花篮/FullSizeRender 72.jpg') no-repeat 0px 0px;
  background-size: cover;
}
body .pc .daiZhi_flower .container .row .downLeft a .kuang {
  background: url('../Image/黛芷花园/图片/花篮/IMG_0695 2.JPG') no-repeat 0px 0px;
  background-size: cover;
}
body .pc .daiZhi_flower .container .row .downMid {
  padding: 0 15px;
}
body .pc .daiZhi_flower .container .row .downMid a .kuang {
  background: url('../Image/黛芷花园/图片/商业瓶花/FullSizeRender 73.jpg') no-repeat 0px 0px;
  background-size: cover;
}
body .pc .daiZhi_flower .container .row .downRight a .kuang {
  background: url('../Image/黛芷花园/图片/花盒/FullSizeRender 71.jpg') no-repeat 0px 0px;
  background-size: cover;
}
body .pc .daiZhi_flower .container .down {
  margin-top: 64px;
  height: 480px;
}
body .pc .daiZhi_flower .container .down .downLeft div {
  width: 400px;
  float: left;
}
body .pc .daiZhi_flower .container .down .downLeft div .kuang {
  border: 1px solid #8c8c8c;
  height: 400px;
  width: 400px;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
body .pc .daiZhi_flower .container .down .downLeft div .kuang a {
  display: block;
  width: 100%;
  height: 100%;
}
body .pc .daiZhi_flower .container .down .downLeft div .kuang a img {
  width: 400px;
  position: absolute;
  top: -135px;
  left: 0px;
}
body .pc .daiZhi_flower .container .down .downLeft div h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  line-height: 52px;
  color: #262626;
}
body .pc .daiZhi_flower .container .down .downLeft div p {
  font-size: 24px;
  margin: 0px;
}
body .pc .daiZhi_flower .container .down .downMid div {
  width: 400px;
  margin: 0 auto;
}
body .pc .daiZhi_flower .container .down .downMid div .kuang {
  border: 1px solid #8c8c8c;
  height: 400px;
  width: 400px;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
body .pc .daiZhi_flower .container .down .downMid div .kuang a {
  display: block;
  width: 100%;
  height: 100%;
}
body .pc .daiZhi_flower .container .down .downMid div .kuang a img {
  width: 400px;
  position: absolute;
  top: -80px;
  left: 0px;
}
body .pc .daiZhi_flower .container .down .downMid div h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  line-height: 52px;
  color: #262626;
}
body .pc .daiZhi_flower .container .down .downMid div p {
  font-size: 24px;
  margin: 0px;
}
body .pc .daiZhi_flower .container .down .downRight div {
  width: 400px;
  float: right;
}
body .pc .daiZhi_flower .container .down .downRight div .kuang {
  border: 1px solid #8c8c8c;
  height: 400px;
  width: 400px;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
body .pc .daiZhi_flower .container .down .downRight div .kuang a {
  display: block;
  width: 100%;
  height: 100%;
}
body .pc .daiZhi_flower .container .down .downRight div .kuang a img {
  width: 400px;
  position: absolute;
  top: -80px;
  left: 0px;
}
body .pc .daiZhi_flower .container .down .downRight div h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  line-height: 52px;
  color: #262626;
}
body .pc .daiZhi_flower .container .down .downRight div p {
  font-size: 24px;
  margin: 0px;
}
body .pc .daiZhiChaShi {
  overflow: hidden;
}
body .pc .daiZhiChaShi .container .head {
  padding-right: 154px;
  padding-top: 50px;
  position: relative;
  height: 142px;
}
body .pc .daiZhiChaShi .container .head .title {
  color: #262626;
  position: absolute;
  right: 0;
  top: 26px;
  font-size: 32px;
  margin-bottom: 0;
}
body .pc .daiZhiChaShi .container .row .leftbox a {
  width: 100%;
  height: 560px;
  display: block;
  background-image: url("../Image/PC/主页/黛芷茶室/2.下午茶.jpg");
  background-position: center center;
  background-size: cover;
}
body .pc .daiZhiChaShi .container .row .rightbox a {
  width: 100%;
  height: 560px;
  display: block;
  background-image: url("../Image/PC/主页/黛芷茶室/法国马卡龙.jpg");
  background-position: center center;
  background-size: cover;
}
body .pc .daiZhiChaShi .container .introduce {
  margin-top: 15px;
  margin-bottom: 60px;
  position: relative;
}
body .pc .daiZhiChaShi .container .introduce h3 {
  margin: 0px;
  font-size: 32px;
  line-height: 64px;
  margin-bottom: 5px;
}
body .pc .daiZhiChaShi .container .introduce p {
  font-size: 16px;
  line-height: 24px;
}
body .pc .daiZhiChaShi .container .introduce button {
  position: absolute;
  width: 120px;
  height: 48px;
  right: 0;
  top: 60px;
  color: #b0ad9f;
  font-size: 22px;
}
body .pc .other {
  overflow: hidden;
}
body .pc .other .container {
  padding: 0;
}
body .pc .other .container .row {
  height: 350px;
}
body .pc .other .container .row .topLeft a,
body .pc .other .container .row .topMid a,
body .pc .other .container .row .topRight a {
  display: block;
  margin-bottom: 64px;
}
body .pc .other .container .row .topLeft a .kuang,
body .pc .other .container .row .topMid a .kuang,
body .pc .other .container .row .topRight a .kuang {
  height: 240px;
  background: url('../Image/PC/主页/其他/WYM_7395.jpg') no-repeat 0px 0px;
  background-size: cover;
  border: 1px solid #8c8c8c;
  box-sizing: border-box;
}
body .pc .other .container .row .topLeft a h3,
body .pc .other .container .row .topMid a h3,
body .pc .other .container .row .topRight a h3 {
  font-size: 24px;
  color: #292929;
}
body .pc .other .container .row .topLeft a p,
body .pc .other .container .row .topMid a p,
body .pc .other .container .row .topRight a p {
  font-size: 16px;
  line-height: 26px;
}
body .pc .other .container .row .topMid a .kuang {
  background: url('../Image/PC/主页/其他/WYM_7375.jpg') no-repeat 0px 0px;
  background-size: cover;
}
body .pc .other .container .row .topRight a .kuang {
  background: url('../Image/PC/主页/其他/WYM_7325.jpg') no-repeat 0px 0px;
  background-size: cover;
}
body .pc footer {
  overflow: hidden;
  background-color: #f4f4f4;
  padding-top: 38px;
}
body .pc footer .container .row {
  padding-bottom: 100px;
}
body .pc footer .container .row .footLeft,
body .pc footer .container .row .footMid,
body .pc footer .container .row .footRight {
  padding-left: 0;
  padding-right: 28px;
}
body .pc footer .container .row .footLeft p,
body .pc footer .container .row .footMid p,
body .pc footer .container .row .footRight p {
  font-size: 16px;
  line-height: 28px;
  color: #999481;
}
body .pc footer .container .row .footMid {
  padding: 0 70px;
}
body .pc footer .container .row .footRight {
  padding: 0 100px;
}
body #content {
  display: none;
}
