body a {
  text-decoration: none;
}
body .daiZhi_nav {
  display: none;
}
body .ipad_nav {
  width: 100%;
  height: 80px;
  background: #f7f7f7;
}
body .ipad_nav .container {
  height: 80px;
  margin: 0 auto;
  position: relative;
}
body .ipad_nav .container .nav-left {
  cursor: pointer;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 8px;
  left: 0;
  color: #999481;
  z-index: 3;
}
body .ipad_nav .container .nav-left i {
  width: 36px;
  height: 24px;
  font-size: 48px;
}
body .ipad_nav .container #logo {
  padding-left: 40px;
  width: 125px;
  height: 40px;
  position: absolute;
  top: -8px;
  left: 38px;
}
body .ipad_nav .container #logo embed {
  display: block;
  width: 125px;
}
body .ipad_nav .container .language {
  color: #999481;
}
body .ipad_nav .container .language i {
  font-size: 40px;
  position: absolute;
  top: 10px;
  right: 0px;
}
body .ipad_nav .container .nav-active {
  transform: rotate(90deg);
  transition: all 0.03s ease-in;
}
body .iphone_nav {
  display: none;
}
body .ipad_nav_content {
  width: 240px;
  height: 100%;
  background: #f4f4f4;
  position: fixed;
  top: 0;
  left: -240px;
  z-index: 2;
}
body .ipad_nav_content ul {
  list-style: none;
  padding-left: 0;
}
body .ipad_nav_content ul li {
  padding-left: 16px;
  padding-right: 32px;
  height: 80px;
  line-height: 80px;
  font-size: 24px;
  border-bottom: 1px solid #999481;
}
body .ipad_nav_content ul li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #999481;
}
body .ipad_nav_content ul li a i {
  display: block;
  float: right;
  font-size: 32px;
}
body .ipad_nav_content ul .active {
  background-color: #999481;
}
body .ipad_nav_content ul .active a {
  color: #fff;
}
body .pc_logo {
  display: none;
}
body .content-wrapper {
  width: 100%;
  padding-top: 32px;
}
body .content-wrapper .daiZhi .container .row .pc {
  display: none;
}
body .content-wrapper .daiZhi .container .row .ipad .pad {
  width: 100%;
  text-align: center;
}
body .content-wrapper .daiZhi .container .row .ipad .pad .inc {
  color: #262626;
}
body .content-wrapper .daiZhi .container .row .ipad .pad .inc p {
  font-size: 36px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 36px;
  margin-bottom: 18px;
}
body .content-wrapper .daiZhi .container .row .ipad .pad .inc .p2 {
  margin-top: 16px;
  font-size: 22px;
  margin-bottom: 32px;
}
body .content-wrapper .daiZhi .container .row .ipad .pad .inc hr {
  margin-top: 0;
  margin-bottom: 0;
}
body .content-wrapper .daiZhi .container .row .ipad .rightbox div .mobileImg {
  width: 100%;
}
body .content-wrapper .daiZhi .container .row .ipad .rightbox div .mobileImg > img {
  width: 100%;
  display: block;
}
body .content-wrapper .daiZhi .container .row .ipad .rightbox div .pcImg {
  width: 100%;
  height: 540px;
  display: block;
  background-position: center center;
  background-size: cover;
}
body .content-wrapper .daiZhi .container .row .iphone {
  display: none;
}
body .content-wrapper .daiZhiJiaJu .container .head {
  text-align: center;
}
body .content-wrapper .daiZhiJiaJu .container .head .title {
  color: #262626;
  font-size: 32px;
  line-height: 94px;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 1px;
}
body .content-wrapper .daiZhiJiaJu .container .head hr {
  display: none;
}
body .content-wrapper .daiZhiJiaJu .container .row .pc {
  display: none;
}
body .content-wrapper .daiZhiJiaJu .container .row .iphone {
  display: none;
}
body .content-wrapper .daiZhiJiaJu .container .row .ipad .left div .mobileImg {
  width: 100%;
}
body .content-wrapper .daiZhiJiaJu .container .row .ipad .left div .mobileImg > img {
  width: 100%;
  display: block;
}
body .content-wrapper .daiZhiJiaJu .container .row .ipad .left div .pcImg {
  width: 100%;
  height: 560px;
  display: block;
  background-position: center center;
  background-size: cover;
}
body .content-wrapper .daiZhiJiaJu .container .introduce {
  margin-bottom: 20px;
  position: relative;
}
body .content-wrapper .daiZhiJiaJu .container .introduce h3 {
  text-align: center;
  margin: 0px;
  font-size: 32px;
  line-height: 40px;
  padding-top: 12px;
}
body .content-wrapper .daiZhiJiaJu .container .introduce p {
  padding-left: 80px;
  padding-right: 80px;
  font-size: 14px;
  line-height: 24px;
}
body .content-wrapper .daiZhiJiaJu .container .introduce div {
  display: none;
}
body .content-wrapper .daiZhi_flower .container .row .pc {
  display: none;
}
body .content-wrapper .daiZhi_flower .container .row .ipad .head p {
  font-size: 36px;
  line-height: 94px;
  text-align: center;
  margin-bottom: 0;
  letter-spacing: 1px;
}
body .content-wrapper .daiZhi_flower .container .row .ipad .head hr {
  margin-top: 0;
  margin-bottom: 0;
}
body .content-wrapper .daiZhi_flower .container .row .ipad .topLeft a,
body .content-wrapper .daiZhi_flower .container .row .ipad .topRight a,
body .content-wrapper .daiZhi_flower .container .row .ipad .downLeft a,
body .content-wrapper .daiZhi_flower .container .row .ipad .downRight a {
  display: block;
}
body .content-wrapper .daiZhi_flower .container .row .ipad .topLeft a .kuang,
body .content-wrapper .daiZhi_flower .container .row .ipad .topRight a .kuang,
body .content-wrapper .daiZhi_flower .container .row .ipad .downLeft a .kuang,
body .content-wrapper .daiZhi_flower .container .row .ipad .downRight a .kuang {
  height: 400px;
}
body .content-wrapper .daiZhi_flower .container .row .ipad .topLeft a .kuang .mobileImg,
body .content-wrapper .daiZhi_flower .container .row .ipad .topRight a .kuang .mobileImg,
body .content-wrapper .daiZhi_flower .container .row .ipad .downLeft a .kuang .mobileImg,
body .content-wrapper .daiZhi_flower .container .row .ipad .downRight a .kuang .mobileImg {
  width: 100%;
}
body .content-wrapper .daiZhi_flower .container .row .ipad .topLeft a .kuang .mobileImg > img,
body .content-wrapper .daiZhi_flower .container .row .ipad .topRight a .kuang .mobileImg > img,
body .content-wrapper .daiZhi_flower .container .row .ipad .downLeft a .kuang .mobileImg > img,
body .content-wrapper .daiZhi_flower .container .row .ipad .downRight a .kuang .mobileImg > img {
  width: 100%;
  display: block;
}
body .content-wrapper .daiZhi_flower .container .row .ipad .topLeft a .kuang .pcImg,
body .content-wrapper .daiZhi_flower .container .row .ipad .topRight a .kuang .pcImg,
body .content-wrapper .daiZhi_flower .container .row .ipad .downLeft a .kuang .pcImg,
body .content-wrapper .daiZhi_flower .container .row .ipad .downRight a .kuang .pcImg {
  width: 100%;
  height: 400px;
  display: block;
  background-position: center center;
  background-size: cover;
  border: 1px solid #999481;
}
body .content-wrapper .daiZhi_flower .container .row .ipad .topLeft a h3,
body .content-wrapper .daiZhi_flower .container .row .ipad .topRight a h3,
body .content-wrapper .daiZhi_flower .container .row .ipad .downLeft a h3,
body .content-wrapper .daiZhi_flower .container .row .ipad .downRight a h3 {
  margin-top: 16px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 32px;
  color: #262626;
}
body .content-wrapper .daiZhi_flower .container .row .ipad .topLeft a p,
body .content-wrapper .daiZhi_flower .container .row .ipad .topRight a p,
body .content-wrapper .daiZhi_flower .container .row .ipad .downLeft a p,
body .content-wrapper .daiZhi_flower .container .row .ipad .downRight a p {
  font-size: 16px;
  margin: 0px;
  margin-bottom: 24px;
}
body .content-wrapper .daiZhi_flower .container .row .ipad .topLeft {
  border-right: 1px solid #999481;
}
body .content-wrapper .daiZhi_flower .container .row .ipad .topRight a .kuang {
  background-size: cover;
}
body .content-wrapper .daiZhi_flower .container .row .ipad .downLeft {
  padding-top: 32px;
  border-right: 1px solid #999481;
  border-top: 1px solid #999481;
}
body .content-wrapper .daiZhi_flower .container .row .ipad .downLeft a .kuang {
  background-size: cover;
}
body .content-wrapper .daiZhi_flower .container .row .ipad .downRight {
  padding-top: 32px;
  border-top: 1px solid #999481;
}
body .content-wrapper .daiZhi_flower .container .row .ipad .downRight a .kuang {
  background-size: cover;
}
body .content-wrapper .daiZhi_flower .container .row .iphone {
  display: none;
}
body .content-wrapper .daiZhiChaShi .container .pc_head {
  display: none;
}
body .content-wrapper .daiZhiChaShi .container .row .ipad_head {
  text-align: center;
}
body .content-wrapper .daiZhiChaShi .container .row .ipad_head hr {
  margin-bottom: 0;
}
body .content-wrapper .daiZhiChaShi .container .row .ipad_head .title {
  color: #262626;
  font-size: 32px;
  line-height: 94px;
  margin-top: 0;
  margin-bottom: 0;
}
body .content-wrapper .daiZhiChaShi .container .row .pc {
  display: none;
}
body .content-wrapper .daiZhiChaShi .container .row .iphone {
  display: none;
}
body .content-wrapper .daiZhiChaShi .container .row .ipad .left div .mobileImg {
  width: 100%;
}
body .content-wrapper .daiZhiChaShi .container .row .ipad .left div .mobileImg > img {
  width: 100%;
  display: block;
}
body .content-wrapper .daiZhiChaShi .container .row .ipad .left div .pcImg {
  width: 100%;
  height: 560px;
  display: block;
  background-position: center center;
  background-size: cover;
}
body .content-wrapper .daiZhiChaShi .container .introduce {
  margin-bottom: 20px;
  position: relative;
}
body .content-wrapper .daiZhiChaShi .container .introduce h3 {
  text-align: center;
  margin: 0px;
  font-size: 32px;
  line-height: 40px;
  padding-top: 12px;
}
body .content-wrapper .daiZhiChaShi .container .introduce p {
  padding-left: 80px;
  padding-right: 80px;
  font-size: 14px;
  line-height: 24px;
}
body .content-wrapper .daiZhiChaShi .container .introduce div {
  display: none;
}
body .content-wrapper .other .container hr {
  display: none;
}
body .content-wrapper .other .container .row hr {
  display: block;
  margin-top: 0px;
  margin-bottom: 24px;
}
body .content-wrapper .other .container .row .pc {
  display: none;
}
body .content-wrapper .other .container .row .iphone {
  display: none;
}
body .content-wrapper .other .container .row .ipad hr {
  margin-top: 24px;
}
body .content-wrapper .other .container .row .ipad .topLeft a,
body .content-wrapper .other .container .row .ipad .topMid a,
body .content-wrapper .other .container .row .ipad .topRight a {
  display: block;
  height: 192px;
}
body .content-wrapper .other .container .row .ipad .topLeft a .kuang,
body .content-wrapper .other .container .row .ipad .topMid a .kuang,
body .content-wrapper .other .container .row .ipad .topRight a .kuang {
  float: left;
  width: 320px;
  height: 192px;
  background: url('../images/Ipad/主页/其他/WYM_7395.jpg') no-repeat 0px 0px;
  background-size: cover;
  box-sizing: border-box;
}
body .content-wrapper .other .container .row .ipad .topLeft a h3,
body .content-wrapper .other .container .row .ipad .topMid a h3,
body .content-wrapper .other .container .row .ipad .topRight a h3 {
  padding-top: 88px;
  margin-left: 320px;
  padding-left: 34px;
  font-size: 24px;
  color: #292929;
  margin-bottom: 0;
  line-height: 32px;
}
body .content-wrapper .other .container .row .ipad .topLeft a p,
body .content-wrapper .other .container .row .ipad .topMid a p,
body .content-wrapper .other .container .row .ipad .topRight a p {
  margin-left: 320px;
  padding-left: 34px;
  font-size: 16px;
  line-height: 26px;
  padding-right: 10px;
  margin-bottom: 0;
}
body .content-wrapper .other .container .row .ipad .topMid a .kuang {
  background: url('../images/Ipad/主页/其他/WYM_7325.jpg') no-repeat 0px 0px;
  background-size: cover;
}
body .content-wrapper .other .container .row .ipad .topRight {
  border-bottom: none;
  margin-bottom: 60px;
}
body .content-wrapper .other .container .row .ipad .topRight a .kuang {
  background: url('../images/Ipad/主页/其他/WYM_7375.jpg') no-repeat 0px 0px;
  background-size: cover;
}
body footer {
  background-color: #f4f4f4;
}
body footer .pc {
  display: none;
}
body footer .iphone {
  display: none;
}
body footer .ipad .container {
  padding-top: 32px;
}
body footer .ipad .container .row {
  padding-bottom: 60px;
}
body footer .ipad .container .row .footLeft,
body footer .ipad .container .row .footMid {
  padding-left: 0;
  padding-right: 28px;
}
body footer .ipad .container .row .footLeft p,
body footer .ipad .container .row .footMid p {
  font-size: 16px;
  line-height: 28px;
  color: #999481;
}
body footer .ipad .container .row .footLeft a,
body footer .ipad .container .row .footMid a {
  font-size: 16px;
  line-height: 28px;
  color: #999481;
  text-decoration: none;
}
body footer .ipad .container .row .footLeft a:active,
body footer .ipad .container .row .footMid a:active {
  text-decoration: none;
}
body footer .ipad .container .row .footLeft .weixin,
body footer .ipad .container .row .footMid .weixin {
  position: relative;
}
body footer .ipad .container .row .footLeft .erweima,
body footer .ipad .container .row .footMid .erweima {
  width: 80px;
  height: 80px;
  background: url('../images/erweima.jpg') no-repeat 0px 0px;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 180px;
  display: none;
}
body footer .ipad .container .row .footLeft .weixin:hover .erweima,
body footer .ipad .container .row .footMid .weixin:hover .erweima {
  display: block;
}
body footer .ipad .container .row .footMid p {
  margin-bottom: 0;
}
