body {
    .container {
        position: relative;
    }
    .daiZhi_nav {
        .container-fluid {
            background-color: #f4f4f4;
            color: #999481;
            .navbar-header {
                button {
                    display: block;
                }
            }
            .collapse {
                padding-left: 0;
                &.navbar {
                    margin-bottom: 0;
                }
                .navbar-nav {
                    padding-left: 0;
                    >li {
                        padding: 0px 5px;
                        >a {
                            font-size: 18px;
                            line-height: 50px;
                        }
                    }
                    >li:first-of-type {
                        padding-left: 0;
                        a {
                            padding-left: 0;
                        }
                    }
                    >li[class="last"] {
                        padding-left: 0;
                        padding-right: 0;
                        a {
                            padding-left: 0;
                            padding-right: 0;
                        }
                    }
                }
                .navbar-toggle {
                    margin-top: 23px;
                }
            }
        }
    }
    .pc {
        display: none;
    }
    .daiZhi_first {
        .container {
            .row {
                .pad {
                    width: 100%;
                    text-align: center;
                    .inc {
                        color: #262626;
                        p {
                            font-size: 36px;
                            text-align: center;
                        }
                        .p2 {
                            font-size: 22px;
                        }
                    }
                }
                .rightbox {
                    div {
                        .mobileImg {
                            width: 100%;
                        }
                        .mobileImg>img {
                            width: 100%;
                            display: block;
                        }
                        .pcImg {
                            width: 100%;
                            height: 540px;
                            display: block;
                            background-position: center center;
                            background-size: cover;
                        }
                    }
                }
            }
        }
    } // 家居
    .daiZhiJiaJu {
        .container {
            .head {
                text-align: center;
                .title {
                    color: #262626;
                    font-size: 32px;
                    line-height: 94px;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
            .row {
                .left {
                    div {
                        .mobileImg {
                            width: 100%;
                        }
                        .mobileImg>img {
                            width: 100%;
                            display: block;
                        }
                        .pcImg {
                            width: 100%;
                            height: 560px;
                            display: block;
                            background-position: center center;
                            background-size: cover;
                        }
                    }
                }
            }
            .introduce {
                margin-bottom: 60px;
                position: relative;
                h3 {
                    margin: 0px;
                    font-size: 32px;
                    line-height: 64px;
                }
                p {
                    width: 500px;
                    font-size: 14px;
                    line-height: 24px;
                }
                button {
                    display: none;
                }
            }
        }
    } //花园
    .daiZhi_flower {
        .container {
            .row {
                .head {
                    p {
                        font-size: 36px;
                        line-height: 80px;
                        text-align: center;
                    }
                }
                .topLeft,
                .topRight,
                .downLeft,
                .downMid,
                .downRight {
                    a {
                        display: block;
                        padding-bottom: 32px;
                        .kuang {
                            height: 400px;
                            .mobileImg {
                                width: 100%;
                            }
                            .mobileImg>img {
                                width: 100%;
                                display: block;
                            }
                            .pcImg {
                                width: 100%;
                                height: 400px;
                                display: block;
                                background-position: center center;
                                background-size: cover;
                                border: 1px solid #999481;
                            }
                        }
                        h3 {
                            margin-top: 0;
                            margin-bottom: 0;
                            font-size: 32px;
                            line-height: 52px;
                            color: #262626;
                        }
                        p {
                            font-size: 24px;
                            margin: 0px;
                        }
                    }
                }
                .topLeft {
                    border-right: 1px solid #999481;
                }
                .topRight {
                    a {
                        .kuang {
                            background: url('../Image/黛芷花园/图片/花篮/FullSizeRender 72.jpg') no-repeat 0px 0px;
                            background-size: cover;
                        }
                    }
                }
                .downLeft {
                    padding-top: 32px;
                    border-right: 1px solid #999481;
                    border-top: 1px solid #999481;
                    a {
                        .kuang {
                            background: url('../Image/黛芷花园/图片/花篮/IMG_0695 2.JPG') no-repeat 0px 0px;
                            background-size: cover;
                        }
                    }
                }
                .downRight {
                    padding-top: 32px;
                    border-top: 1px solid #999481;
                    a {
                        .kuang {
                            background: url('../Image/黛芷花园/图片/花盒/FullSizeRender 71.jpg') no-repeat 0px 0px;
                            background-size: cover;
                        }
                    }
                }
            }
            .down {
                margin-top: 64px;
                height: 480px;
                .downLeft {
                    div {
                        width: 400px;
                        float: left;
                        .kuang {
                            border: 1px solid #8c8c8c;
                            position: relative;
                            height: 400px;
                            width: 400px;
                            margin: 0;
                            box-sizing: border-box;
                            overflow: hidden;
                            position: relative;
                            a {
                                display: block;
                                width: 100%;
                                height: 100%;
                                img {
                                    width: 400px;
                                    position: absolute;
                                    top: -135px;
                                    left: 0px;
                                }
                            }
                        }
                        h3 {
                            margin-top: 0;
                            margin-bottom: 0;
                            font-size: 32px;
                            line-height: 52px;
                            color: #262626;
                        }
                        p {
                            font-size: 24px;
                            margin: 0px;
                        }
                    }
                }
                .downMid {
                    div {
                        width: 400px;
                        margin: 0 auto;
                        .kuang {
                            border: 1px solid #8c8c8c;
                            position: relative;
                            height: 400px;
                            width: 400px;
                            margin: 0;
                            box-sizing: border-box;
                            overflow: hidden;
                            position: relative;
                            a {
                                display: block;
                                width: 100%;
                                height: 100%;
                                img {
                                    width: 400px;
                                    position: absolute;
                                    top: -80px;
                                    left: 0px;
                                }
                            }
                        }
                        h3 {
                            margin-top: 0;
                            margin-bottom: 0;
                            font-size: 32px;
                            line-height: 52px;
                            color: #262626;
                        }
                        p {
                            font-size: 24px;
                            margin: 0px;
                        }
                    }
                }
                .downRight {
                    div {
                        width: 400px;
                        float: right;
                        .kuang {
                            border: 1px solid #8c8c8c;
                            position: relative;
                            height: 400px;
                            width: 400px;
                            margin: 0;
                            box-sizing: border-box;
                            overflow: hidden;
                            position: relative;
                            a {
                                display: block;
                                width: 100%;
                                height: 100%;
                                img {
                                    width: 400px;
                                    position: absolute;
                                    top: -80px;
                                    left: 0px;
                                }
                            }
                        }
                        h3 {
                            margin-top: 0;
                            margin-bottom: 0;
                            font-size: 32px;
                            line-height: 52px;
                            color: #262626;
                        }
                        p {
                            font-size: 24px;
                            margin: 0px;
                        }
                    }
                }
            }
        }
    }
    .other {
        .container {
            padding: 0;
            .row {
                .topLeft,
                .topMid,
                .topRight,
                {
                    padding-bottom: 16px;
                    padding-top: 5px;
                    border-bottom: 1px solid #262626;
                    a {
                        display: block;
                        height: 192px;
                        .kuang {
                            float: left;
                            width: 320px;
                            height: 192px;
                            background: url('../Image/黛芷家居/Home Decor/WYM_7395.jpg') no-repeat 0px 0px;
                            background-size: cover;
                            border: 1px solid #8c8c8c;
                            box-sizing: border-box;
                        }
                        h3 {
                            padding-top: 70px;
                            margin-left: 320px;
                            padding-left: 34px;
                            font-size: 24px;
                            color: #292929;
                        }
                        p {
                            margin-left: 320px;
                            padding-left: 34px;
                            font-size: 16px;
                            line-height: 26px;
                        }
                    }
                }
                .topMid {
                    a {
                        .kuang {
                            background: url('../Image/黛芷家居/Home Decor/WYM_7375.jpg') no-repeat 0px 0px;
                            background-size: cover;
                        }
                    }
                }
                .topRight {
                    border-bottom: none;
                    margin-bottom: 60px;
                    a {
                        .kuang {
                            background: url('../Image/黛芷家居/Home Decor/WYM_7325.jpg') no-repeat 0px 0px;
                            background-size: cover;
                        }
                    }
                }
            }
        }
    }
    .ipad-nav {
        width: 100%;
        height: 80px;
        background: #f7f7f7;
        .content {
            width: 736/768*100%;
            height: 80px;
            margin: 0 auto;
            position: relative;
            .nav-left {
                width: 36px;
                height: 24px;
                position: absolute;
                top: 28px;
                left: 0;
                transition: .5s all linear;
                p {
                    width: 36px;
                    height: 6px;
                    background: #999481;
                    margin: 0;
                    padding: 0;
                    margin-top: 6px;
                }
                .first {
                    margin-top: 0;
                }
            }
            #logo {
                width: 125px;
                height: 40px;
                embed {
                    display: block;
                    width: 125px;
                    position: absolute;
                    top: 0px;
                    left: 100px;
                }
            }
            .language {
                embed {
                    display: block;
                    width: 40px;
                    position: absolute;
                    top: 20px;
                    right: 0px;
                }
            }
            .nav-active {
                transform: rotate(90deg);
                transition: .5s all linear;
            }
        }
    }
    .nav-content {
        width: 240px;
        height: 100%;
        background: #f4f4f4;
        position: fixed;
        top: 0;
        left: -240px;
        z-index: 2;
        ul {
            list-style: none;
            padding-left: 0;
            li {
                padding-left: 15px;
                padding-right: 10px;
                height: 80px;
                line-height: 80px;
                font-size: 24px;
                border-bottom: 1px solid #999481;
                embed {
                    display: block;
                    width: 40px;
                    float: right;
                    margin-top: 20px;
                }
            }
        }
    }
}

footer {
    background-color: #f4f4f4;
    padding-top: 38px;
    .container {
        .row {
            padding-bottom: 100px;
            .footLeft,
            .footMid,
            .footRight {
                padding-left: 0;
                padding-right: 28px;
                p {
                    font-size: 16px;
                    line-height: 28px;
                    color: #999481;
                }
            }
        }
    }
}